<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <script type="text/javascript">
    </script>
</head>
<body>
    <form action="test" method="post" target="hh" >
        <select name="sel">
            <option value="123">One Two Three</option>
            <option value="abc">啊波次</option>
        </select>
        <input type="button" value="ok" />
    </form>
    <iframe name="hh"></iframe>
</body>
</html>